<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mayi_shop_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD200A932018CE7B0051CD39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD200AAB2018CE7C0051CD39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD200AB62018CE7D0051CD39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
